body {
    font-family: $tipofrafia-general;
    font-size: 18px;
    color: rgb(36, 33, 33);
    background-color: rgb-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    line-height: 1.7em;
    font-weight: 4  00;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

}

