

header{
    .btn{
        color:#07451c;  
        font-size: 100%; 
        &:hover{
        background-color: $color-letra;
        color: $color-primario;
        &:hover{
        background-color: #8aa0c1;
        border-color: $color-bordes;
            }
         }
    }
}
.btn-primary {
    color: $color-text-w;
    background-color:$color-violeta;
    border-color:$color-violeta;
    &:hover {
        color: $color-text-w;
        background-color: $color-primary;
        border-color: $color-primary;
      }
      &:focus {
        color: $color-text-w;
        background-color: $color-primary;
        border-color: #0a58ca;
        box-shadow: 0 0 0 0.25rem #3184fd80;
      }
  }

