

/*cuando es un celular */
@media screen and (max-width: 768px){
    .galeria{
        width: 100%;
        height:80vh;
        display: flex;
        align-items: center;
    } 
    .icon{
        font-size: 1.5rem;
    }
    .piePagina{
        height: 3rem;
    }
    /*nosotros*/
    .col-info {
       width:100%;
       height: 100%;
       padding:1rem;
    }
    .parrafoNosotros{
        font-size: 1.2rem;
        line-height: 2.0;
    }
    .titulo{
        font-size: 2.5rem;
        text-align: center;
    }
    .titulo span{
       display:inline;
    }
    .ocultar{
        display: none;
    }
    /* pagina contacto*/
    .contenedorMain{
       padding: 20px;  
    }
     
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        background-size: cover;
        height: 100%;
    }
    .right{
        padding: 25px 20px;
    }
}

/*cuando es celular pero horizontal*/
@media screen and (max-width:1000px) and (orientation: landscape){
    h1{
        font-size: 1.2rem;
    }
    .galeria{
        display: flex;
        justify-content: center;
    } 
    .carousel-item{
        width:100%;
        height: 55vh;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .icon{
        font-size: 1.5rem;
    }
    .piePagina{
        height: 3rem;
    }

}

  @media (min-width: 1000px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

