

@mixin centrado ($color-letra-secundaria,$texto-aliniado){
    font-size: 110%;
}

@mixin mixinwidth9($texto-aliniado) {
    width: 40px;
    font-size: 100%;
}

@mixin flex-width-padding{
	    width:200px;
        display:flex;
        padding: 10px;
        border-radius:10px;
}

@mixin comunicate($color-letra,$texto-justificado) {
    font-size: 130%;
}

@mixin flex-column-center{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

@mixin flex-direction-center($direction){
    display:flex;
    flex-direction:$direction;
    justify-content:center;
}

@mixin flex-direction-justificar($direction,$justify:$center){
    display:flex;
    flex-direction:$direction;
    justify-content:$justify;
}

@mixin grid-columns-row($columns,$row){
    display:grid;
    grid-template-columns:repeat($columns, 1fr);
    grid-template-rows:repeat($row, 1fr);
}



@mixin miMixin2($valor,$borde-principal,$color:rgb(243, 86, 112)){
    height:$valor;
    background-color: aqua;
    border:$borde-principal;
    color:$color;
}


@mixin social($nombre){
    @if $nombre == instagram{
        color:#ff00ea;
    }@else if $nombre == facebook{
        color:blue;
    }@else if $nombre == ws{
        color:rgb(231, 33, 33);
    }@else { 
        color:rgba(0, 0, 0, 0.336);
    }

}








