$color-primario: RED;
$color-bordes: #0a58ca;



$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$tipofrafia-general: Open Sans,Arial,sans-serif;

$margen-cero: 0px;

$area-1: 50%;


$texto-aliniado: center;
$texto-justificado: justify;  
$texto-aliniado-2 : justify;

$comentario-justificado: center;
$comentario-justificado2: justify;
$color-letra: #0bbb46;
$color-letra-secundaria: #020e06;



